@model User
@{
    ViewData["Title"] = "Edit A User";
}
@section Styles
{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet" asp-append-version="true">
}
<partial name="~/Views/Shared/Common/_TitleNavigationPartial.cshtml" model='("Edit A User", "/", "Dashboard", "Edit A User")'></partial>
@if (TempData["type_error"] != null)
{
    <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["type_error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["size_error"] != null)
{
    <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["size_error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="card">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="card-body">
            <div class="mb-3 row">
                 <label asp-for="FirstName" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="FirstName" placeholder="Enter Your First Name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                 <label asp-for="MiddleName" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="MiddleName" placeholder="Enter Your Middle Name">
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                 <label asp-for="LastName" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="LastName" placeholder="Enter Your Last Name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Phone" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="Phone" placeholder="Enter Your Phone Number">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Email" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="email" asp-for="Email" placeholder="Enter Your Email Address">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Password" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="password" asp-for="Password" placeholder="Enter Your Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Media" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input name="Image" asp-for="Media" type="file" id="formFile" class="form-control" />
                    <span asp-validation-for="Media" id="errorMessege" class="text-danger"></span>
                    <div id="imagePreview" class="d-flex justify-content-center align-items-center border border-dashed" style="width: 100px; height: 100px; margin-top: 10px;">
                        <img src="" style="width: 100%; height:100%;" id="show" />
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Intro" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <textarea id="summernote" class="form-control" style="resize: none;" asp-for="Intro" rows="5"
                        placeholder="Write about you..."></textarea>
                    <span asp-validation-for="Intro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="List" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#summernote').summernote();
            var box = $("#imagePreview");
            var display = $("#show");
            var inputImage = $("[name='Image']");
            var errorSpan = $("#errorMessege");
            display.hide();
            box.width(0);
            box.height(0);
            inputImage.on("change", (e)=>{
                var object = e.target.files[0];
                var url = URL.createObjectURL(object);
                display.attr("src", url);
                display.show();
                box.width(200);
                box.height(200);
                var img = new Image();
                img.src = url;
                img.onload = function(){
                    var width = img.width;
                    var height = img.height;
                    if(width < 100 || height < 100)
                    {
                        errorSpan.text("Image width and height must be at least 100px");
                    }
                    else
                    {
                        errorSpan.text("");
                    }

                }
            })
        })
    </script>
}