<div class="vertical-menu">

    <div data-simplebar="init" class="h-100">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!--- Sidemenu -->
                            <div id="sidebar-menu" class="mm-active">
                                <!-- Left Menu Start -->
                                <ul class="metismenu list-unstyled mm-show" id="side-menu">
                                    <li class="menu-title" key="t-menu">Menu</li>

                                    <li class="mm-active">
                                        <a asp-action="Index" asp-controller="Home" class="waves-effect mm-active">
                                            <i class="bx bx-home-circle"></i><span
                                                class="badge rounded-pill bg-info float-end">04</span>
                                            <span key="t-dashboards">Dashboards</span>
                                        </a>
                                        <ul class="sub-menu mm-collapse mm-show" aria-expanded="false">
                                            <li class="mm-active"><a href="index.html" key="t-default"
                                                    class="active">Default</a></li>
                                            <li><a href="dashboard-saas.html" key="t-saas">Saas</a></li>
                                            <li><a href="dashboard-crypto.html" key="t-crypto">Crypto</a></li>
                                            <li><a href="dashboard-blog.html" key="t-blog">Blog</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <ul class="sub-menu mm-collapse" aria-expanded="true">
                                            <li>
                                                <a href="javascript: void(0);" class="has-arrow"
                                                    key="t-vertical">Vertical</a>
                                                <ul class="sub-menu mm-collapse" aria-expanded="true">
                                                    <li><a href="layouts-light-sidebar.html" key="t-light-sidebar">Light
                                                            Sidebar</a></li>
                                                    <li><a href="layouts-compact-sidebar.html"
                                                            key="t-compact-sidebar">Compact Sidebar</a></li>
                                                    <li><a href="layouts-icon-sidebar.html" key="t-icon-sidebar">Icon
                                                            Sidebar</a></li>
                                                    <li><a href="layouts-boxed.html" key="t-boxed-width">Boxed Width</a>
                                                    </li>
                                                    <li><a href="layouts-preloader.html" key="t-preloader">Preloader</a>
                                                    </li>
                                                    <li><a href="layouts-colored-sidebar.html"
                                                            key="t-colored-sidebar">Colored Sidebar</a></li>
                                                    <li><a href="layouts-scrollable.html"
                                                            key="t-scrollable">Scrollable</a></li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript: void(0);" class="has-arrow"
                                                    key="t-horizontal">Horizontal</a>
                                                <ul class="sub-menu mm-collapse" aria-expanded="true">
                                                    <li><a href="layouts-horizontal.html"
                                                            key="t-horizontal">Horizontal</a></li>
                                                    <li><a href="layouts-hori-topbar-light.html"
                                                            key="t-topbar-light">Topbar light</a></li>
                                                    <li><a href="layouts-hori-boxed-width.html"
                                                            key="t-boxed-width">Boxed width</a></li>
                                                    <li><a href="layouts-hori-preloader.html"
                                                            key="t-preloader">Preloader</a></li>
                                                    <li><a href="layouts-hori-colored-header.html"
                                                            key="t-colored-topbar">Colored Header</a></li>
                                                    <li><a href="layouts-hori-scrollable.html"
                                                            key="t-scrollable">Scrollable</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-title" key="t-apps">Apps</li>

                                    <li>
                                        <a asp-action="List" asp-controller="Post" class="waves-effect">
                                            <i class="bx bx-edit"></i>
                                            <span key="t-calendar">Posts</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Lists" asp-controller="Category" class="waves-effect">
                                            <i class='bx bx-category'></i>
                                            <span key="t-calendar">Categories</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="List" asp-controller="User" class="waves-effect">
                                            <i class="bx bx-group"></i>
                                            <span key="t-calendar">Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1321px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                style="height: 239px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>
</div>